body {
  text-align: center;
  background: rgb(34, 0, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(34, 0, 255, 1) 0%,
    rgba(0, 0, 0, 0.8939950980392157) 45%,
    rgba(255, 0, 228, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(34, 0, 255, 1) 0%,
    rgba(0, 0, 0, 0.8939950980392157) 45%,
    rgba(255, 0, 228, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(34, 0, 255, 1) 0%,
    rgba(0, 0, 0, 0.8939950980392157) 45%,
    rgba(255, 0, 228, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2200ff",endColorstr="#ff00e4",GradientType=1);
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
